/* Estilos generales */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
nav{
  padding-top: 30px;
}
nav ul li:hover{
  color: red;
}
/* Header */
header {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 100px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
}

/* Hero */
.hero {
  background-color: #141414;
  color: #fff;
  font-size: 24px;
  padding: 50px;
  text-align: center;
  background-image: url('./img/2915038.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
}

.hero button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: #e50914;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.hero input {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.hero input:focus {
  outline: none;
  border-color: #f00;
}

.hero .error {
  color: yellow;
  font-size: 25px;
  margin: 5px;
}

/* Content */
.content {
  margin: 50px 0;
  text-align: center;
}

.content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content p {
  font-size: 24px;
  margin-bottom: 30px;
}

/* Movies */
.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.movies div {
  width: 25%;
  text-align: center;
  margin-bottom: 30px;
}

.movies img {
  width: 100%;
  border-radius: 5px;
}

.movies h3 {
  font-size: 24px;
  margin-top: 10px;
}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

footer p {
  font-size: 18px;
  margin: 0 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

  